<footer class="site-footer h-card">
    <div class="wrapper">
        <div style="text-align: center;">
            <a class="u-email" href="mailto:muthu_raj27@yahoo.co.in">muthu_raj27@yahoo.co.in</a>
            <a href="https://github.com/muthurajmariappan">
                <svg class="svg-icon">
                    <use xlink:href="/assets/css/minima-social-icons.svg#github"></use>
                </svg>
                <!-- <span class="username">muthurajmariappan</span> -->
            </a>
            <a href="https://www.linkedin.com/">
                <svg class="svg-icon">
                    <use xlink:href="/assets/css/minima-social-icons.svg#linkedin"></use>
                </svg>
                <!-- <span class="username">muthurajmariappan</span> -->
            </a>
        </div>
    </div>
</footer>